@*@model Aghsat.Domain.Entity.Product*@
@model Aghsat.ViewModel.Product.Product_Add_vm




<br />
@using (Ajax.BeginForm(MVC.Admin.ProductsManagment.Save(), new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "List",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "Hide"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <div class="input-group  input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.DisplayNameFor(x => x.Name)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control uk-input" })
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </span>
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="input-group  input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer" id="date1">
                        @Html.DisplayNameFor(x => x.ProductDate)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.ProductDate, new { @class = "form-control uk-input", id = "demo3" })
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.ValidationMessageFor(x => x.ProductDate, "", new { @class = "text-danger" })
                    </span>
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="input-group  input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.DisplayNameFor(x => x.MainImage)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.MainImage, new { @class = "form-control uk-input" })
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.ValidationMessageFor(x => x.MainImage, "", new { @class = "text-danger" })
                    </span>
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* @Html.DropDownList("UnitId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.UnitId, new SelectList(Model.UnitDropDownList, "Id", "Name"), "انتخاب کنید", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.CategoryDropDownList, "Id", "Name"), "انتخاب کنید", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", id = "demo2" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                <div class="input-group  input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @Html.DisplayNameFor(x => x.ModifeDate)
                        </span>
                    </div>
                    @Html.TextBoxFor(x => x.ModifeDate, new { @class = "form-control uk-input", id = "demo4" })
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @Html.ValidationMessageFor(x => x.ModifeDate, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>

            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDeleted)
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<input type="text" id="demo3" placeholder="select date" />*@


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text cursor-pointer" id="date1" data-mdpersiandatetimepicker="" data-original-title="" title="">Icon</span>
            </div>
            <input type="text" id="inputDate1" class="form-control" placeholder="Persian Calendar Text" aria-label="date1" aria-describedby="date1">
            <input type="text" id="inputDate1-1" class="form-control" placeholder="Persian Calendar Date" aria-label="date11" aria-describedby="date11">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")


<script>
    $(function() {

        $("#demo2").persianDatepicker({
            showGregorianDate:1,
            formatDate: "YYYY/MM/DD"
        });
        $("#demo3").persianDatepicker();
        $("#demo4").persianDatepicker({
            showGregorianDate: 1,
            formatDate: "YYYY/MM/DD"
        });


        $('#date1').MdPersianDateTimePicker({
            targetTextSelector: '#inputDate1',
            dateFormat: 'yyyy-MM-dd',
            placement: 'bottom',
            isGregorian: false,
            enableTimePicker: false

        });


    });
</script>