

@using Aghsat.ViewModel.Pictures
@using Microsoft.Ajax.Utilities
@model IEnumerable<Aghsat.ViewModel.Product.Product_List_vm>
<div class="border border-dark  uk-box-shadow-hover-large bg-light">
    <div class=" table-responsive  bg-light p-3 ">

        @Html.Partial("_ToolsAdd")
        @{
            if (Model != null && Model.Any())
            {
                <table id="dtCategory" style="width: 100%" class="table table-dark  data-Table  table-hover  table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(row => row.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MainImage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifeDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>@Resources.Resource.Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductDate)
                                </td>
                                <td uk-lightbox="animation: slide">

                                    @if (!item.MainImage.IsNullOrWhiteSpace())
                                    {
                                        <a class="uk-inline" href="~/Content/Image/ProductsImage/@item.MainImage" data-caption="@item.Name">
                                            <img class=" " style="width: 50px;height: 50px;" src="~/Content/Image/ProductsImage/@item.MainImage" alt="@item.Name">
                                        </a>
                                    }
                                    else
                                    {
                                        <p>عکسی ثبت نشده است</p>
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifeDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.Partial("_ToolsDetail", item.Id)
                                    @Html.Partial("_ToolsEdit", item.Id)
                                    @Html.Partial("_ToolsConfirmDelete", item.Id)
                                    @Html.Partial("_ToolsSetAddPicture", item.Id)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                Html.Partial("_NotingModel");
            }
        }

    </div>
</div>

<script>

    $(document).ready(function () {
        // $('#dtCategory').dataTable({
        $('table.data-Table').dataTable({
            retrieve: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'print'
            ],

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Persian.json"
            }
        });
    });

</script>

