@using System.Security.Claims
@using Microsoft.AspNet.Identity
@{
    // From ApplicationUserManager -> GenerateUserIdentityAsync
    //var claim = ((ClaimsIdentity)User.Identity).FindFirst("user-email");
    var claim = ClaimsPrincipal.Current.Claims.FirstOrDefault(x => x.Type == "user-email");
    var email = claim == null ? "" : claim.Value;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav  text-white">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off @email</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav  mr-auto mt-2 mt-lg-0  text-white">
        <li class="nav-item">@Html.ActionLink("Register", MVC.Account.Register(), htmlAttributes: new { @class = "nav-link  text-white", id = "registerLink" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", MVC.Account.Login(), htmlAttributes: new { @class = "nav-link  text-white", id = "loginLink" })</li>
    </ul>
}

