<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script>
            $(".DatePersion").persianDatepicker({
                formatDate: "YYYY/MM/DD"
            });
        </script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



    <!-- Scripts-->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />*@

</head>
<body style="direction: rtl; " class="">

    <nav class="p-1 navbar navbar-expand-sm bg-dark text-right fixed-top">
        <button class="uk-button   uk-button-default bg-danger " type="button" uk-toggle="target: #offcanvas-push"><span uk-icon="menu"></span></button>

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <!-- offcanvas -->
    <br />

    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true" class="p-3 Menu">
        <div class="uk-offcanvas-bar uk-padding-remove  ">
            <!-- Nav -->
            @Html.Action(MVC.Admin.PanelManagment.Menu())
        </div>
    </div>
    <!-- Container -->
    <div class="container-fluid @*body-content*@">
        @RenderBody()
    </div>
    @Html.Partial("_Modal")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/CustomScripts")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/Custom-datatables.min.js"></script>

    @ToastrHelper.ProcessToastrs()

    @*@Scripts.Render("~/Scripts/Custom-datatables.min.js")*@

    <!-- UIkit JS -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>

